.hidden {
  display: none;
}

.error {
  color: red;
}

.new-item {
  margin-top: 14px;
}

.flash {
  padding: 10px;
  margin: 10px 0px;
}

.field-hint {
  color: #ccc;
  font-size: 90%;
}

.input-row {
  margin: 10px 0px;
}

.content-hidden{
  cursor: pointer;
}

.session-box{
  max-width: 400px;
  width: 100%;
  margin: 30px auto;
}

.main-content{
  margin-top: 30px;
}
.dashboard-item{
  /*width: 18%;
  margin-right: 2.5%;
  margin-left: 0px;*/

}

.dashboard-item:last-child{
  margin-right: 0px;

}

.dashboard-item img {
  width: 100%;
  max-width: 90px;

}

input.mini-size, select.mini-size {
  width: 120px;
}

label-inline {
  margin-right: 10px;
}

.item-nav {
  background: #eee;
  border-radius: 6px;
  color: white;
  margin-left: 6px;
  padding: 5px 10px;
}

.item-nav.active {
  background: #aaa;
}

.item-nav:hover{
    background: #ccc;
}

.item-nav-group {
  text-align: right;
  margin: 10px 0px;
}

.title-items{
  float: right;
}

.scroll-container {
  width:100%;
  overflow: scroll;
}
